# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Vector Database
vectorstore/

# IDE
.vscode/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db